footer.footer(class=['is-' + appconfig.theme.footer], ref='footer')
  span GitHub: 
    a(href='https://github.com/iotapizza/iota-wiki') Wiki data
    |  (
    a(href='https://github.com/iotapizza/wiki-engine') engine
    | ) / 
    a(href='/wiki/moderators') Moderators
    |  / 
    a(href='mailto:wiki@helloiota.com') wiki@helloiota.com
    |  / 
    = t('footer.poweredby') + ' '
    a(href='https://github.com/Requarks/wiki') Wiki.js
    | .
  ul
    li: a(href='/')= t('footer.home')
    li: a(href='#root')= t('footer.top')
