ul#helloiota
  li 
    a(href="https://helloiota.com") HelloIOTA
  li 
    a(href="https://forum.helloiota.com") Forum
  li 
    a(href="https://kb.helloiota.com") Community Insights KB
  li 
    a(href="https://forum.helloiota.com/disclaimer/disclaimer.html") Terms of Service
